<footer>


    <div class="footer-classic-main">
        <div class="container">
            <div class="row row-50 justify-content-lg-between">
                <div class="col-md-6 col-lg-6 col-xl-6 align-items-center location pl-lg-0 pl-md-0 pl-3">
                    <a class="brand" href="index.html">
                        <img src="{{ baseUrl }}/app/dist/images/logo.png" class="img-fluid" width="52" />
                    </a>
                    <ul class="list list-style-1 mt-2">
                        <li class="unit">

                            <div class="unit-body"><a href="#">ConstructPRO Innovations</a></div>
                        </li>
                        <li class="unit">
                            <div class="unit-body"><a href="#">Off Atomic Road, Haatso. Accra</a></div>
                        </li>
                        <li class="unit">
                            <div class="unit-body"><a href="tel:#">+233 54 810 2622</a></div>
                        </li>
                        <li class="unit">
                            <div class="unit-body"><a class=""
                                    href="www.constructproghana.com">www.constructproghana.com</a>
                            </div>
                        </li>

                    </ul>

                    <!-- <a class="btn btn-secondary" href="index.html">
                       Order Now
                    </a> -->
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 d-none justify-content-md-center justify-content-start p-0 align-items-center ">
                    <ul class="list footer-classic-list  m-0">
                        <!-- <li><a href="about.html" class="">Projects</a></li> -->
                    </ul>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-6 justify-content-md-end justify-content-center p-0  d-flex align-items-center">
                    <div>


                        <h5 class="text-white pl-3 mb-2">Projects</h5>

                        <div class="row">
                            <div class="col-6 col-md-5">
                                <a href="">
                                    <img class="w-100" src="../app/dist/images/33.png" alt="Another alt text"
                                        height="90" width="125">
                                </a>

                            </div>
                            <div class="col-6 col-md-5">
                                <a href="">
                                    <img class="w-100" src="../app/dist/images/23.png" alt="Another alt text"
                                        height="90" width="125">
                                </a>
                            </div>
                            <div class="col-6 col-md-5 mt-3">
                                <a href="">
                                    <img class="w-100" src="../app/dist/images/31.png" alt="Another alt text"
                                        height="90" width="125">
                                </a>

                            </div>
                            <div class="col-6 col-md-5 mt-3">
                                <a href="">
                                    <img class="w-100" src="../app/dist/images/22.png" alt="Another alt text" height="90"
                                        width="125">
                                </a>
                            </div>

                        </div>
                    </div>



                </div>
            </div>



        </div>
    </div>
    <div class="footer-classic-aside">
        <div class="container">
            <p class="rights"><span>©&nbsp; </span><span class="copyright-year">2019</span><span>. All Rights
                    Reserved</span></p>
        </div>
    </div>

</footer>