<!-- website.nunjucks -->
{% set title='Welcome to ConstructPro' %}
{% set topNav = 'about' %}
{% extends "site_base2.njk" %}


{% block stylesheet %}


{% endblock %}




{% block content %}

<div class="mini-banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9">
                <h2 class="breadcrumbs-custom-title text-center" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">PROJECT REFERENCE</h2>
            </div>
        </div>
    </div>
</div>
<div class="about-container projects">
    <div class="container">
            <div class="row ">
                    <div class="col-md-6 col-lg-5 col-xl-4 offset-0 offset-md-1 aos-init aos-animate" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000">
                            <!-- <span class=" mini-title">About Company</span> -->
        
                        <h3>Our Competitive Advantage</h3>
                       
                       
                    </div>
                    <div class="col-md-4 col-lg-5 col-xl-6">
                            <p class="mt-lg-0">Highly experience management team Broad geographic, operational base within Western Africa. Increased demands to replace and maintain aging infrastructure, provides major new project opportunities Commitment to Safety with Established In-house Training Programs</p>
                                  
                    </div>
                </div>
    </div>

</div>

<div class="container">
        <div class="event-gallery">
            <h3 class="text-center mb-5">GUTTERS, DRAINAGE & ROADS</h3>
                <div class="row no-gutters">
                  
                    <div class="col-lg-4 col-md-4 col-6 thumb">
                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                           data-image="../app/dist/images/12.png"
                           data-target="#image-gallery">
                            <img class="img-thumbnail"
                                 src="../app/dist/images/12.png"
                                 alt="Another alt text" height="390">

                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 thumb">
                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                        data-image="../app/dist/images/13.png"
                        data-target="#image-gallery">
                         <img class="img-thumbnail"
                              src="../app/dist/images/13.png"
                              alt="Another alt text" height="390">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 thumb">
                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                        data-image="../app/dist/images/14.png"
                        data-target="#image-gallery">
                         <img class="img-thumbnail"
                              src="../app/dist/images/14.png"
                              alt="Another alt text" height="390">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                               data-image="../app/dist/images/15.png"
                               data-target="#image-gallery">
                                <img class="img-thumbnail"
                                     src="../app/dist/images/15.png"
                                     alt="Another alt text" height="390">
    
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 thumb">
                            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                            data-image="../app/dist/images/16.png"
                            data-target="#image-gallery">
                             <img class="img-thumbnail"
                                  src="../app/dist/images/16.png"
                                  alt="Another alt text" height="390"> 
                            </a>
                        </div>
                       
        
        
        
                   
                 
                </div>
            </div>
        



            <div class="event-gallery mt-5 pt-5">
                    <h3 class="text-center mb-5">CHURCH OF PENTECOST- EAST LEGON</h3>
                        <div class="row no-gutters">
                          
                            <div class="col-lg-4 col-md-4 col-6 thumb">
                                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                                   data-image="../app/dist/images/21.png"
                                   data-target="#image-gallery">
                                    <img class="img-thumbnail"
                                         src="../app/dist/images/21.png"
                                         alt="Another alt text" height="390">
        
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 thumb">
                                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                                data-image="../app/dist/images/22.png"
                                data-target="#image-gallery">
                                 <img class="img-thumbnail"
                                      src="../app/dist/images/22.png"
                                      alt="Another alt text" height="390">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 thumb">
                                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                                data-image="../app/dist/images/23.png"
                                data-target="#image-gallery">
                                 <img class="img-thumbnail"
                                      src="../app/dist/images/23.png"
                                      alt="Another alt text" height="390">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                                       data-image="../app/dist/images/24.png"
                                       data-target="#image-gallery">
                                        <img class="img-thumbnail"
                                             src="../app/dist/images/24.png"
                                             alt="Another alt text" height="390">
            
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-6 thumb">
                                    <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                                    data-image="../app/dist/images/25.png"
                                    data-target="#image-gallery">
                                     <img class="img-thumbnail"
                                          src="../app/dist/images/25.png"
                                          alt="Another alt text" height="390"> 
                                    </a>
                                </div>
                               
                
                
                
                           
                         
                        </div>
                    </div>




                    <div class="event-gallery my-5 py-5">
                            <h3 class="text-center mb-5">A&C MALL - STRUCTURAL WORKS</h3>
                                <div class="row no-gutters">
                                  
                                    <div class="col-lg-4 col-md-4 col-6 thumb">
                                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                                           data-image="../app/dist/images/31.png"
                                           data-target="#image-gallery">
                                            <img class="img-thumbnail"
                                                 src="../app/dist/images/31.png"
                                                 alt="Another alt text" height="390">
                
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-6 thumb">
                                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                                        data-image="../app/dist/images/32.png"
                                        data-target="#image-gallery">
                                         <img class="img-thumbnail"
                                              src="../app/dist/images/32.png"
                                              alt="Another alt text" height="390">
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-6 thumb">
                                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                                        data-image="../app/dist/images/33.png"
                                        data-target="#image-gallery">
                                         <img class="img-thumbnail"
                                              src="../app/dist/images/33.png"
                                              alt="Another alt text" height="390">
                                        </a>
                                    </div>
                                  
                        
                        
                                   
                                 
                                </div>
                            </div>

</div>







<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-transparent border-0">
                <div class="modal-header d-none bg-white">
                    <h4 class="modal-title" id="image-gallery-title"></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body bg-white p-0">
                    <img id="image-gallery-image" class="img-responsive p-0 col-md-12" src="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                    </button>
    
                    <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}



{% block scripts %}

<script type="text/javascript">


var modalId = $('#image-gallery');

$(document).ready(function() {
  loadGallery(true, 'a.thumbnail');

  //This function disables buttons when needed
  function disableButtons(counter_max, counter_current) {
    $('#show-previous-image, #show-next-image').show();
    if (counter_max === counter_current) {
      $('#show-next-image').hide();
    } else if (counter_current === 1) {
      $('#show-previous-image').hide();
    }
  }

  /**
   *
   * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
   * @param setClickAttr  Sets the attribute for the click handler.
   */

  function loadGallery(setIDs, setClickAttr) {
    var current_image,
      selector,
      counter = 0;

    $('#show-next-image, #show-previous-image').click(function() {
      if ($(this).attr('id') === 'show-previous-image') {
        current_image--;
      } else {
        current_image++;
      }

      selector = $('[data-image-id="' + current_image + '"]');
      updateGallery(selector);
    });

    function updateGallery(selector) {
      var $sel = selector;
      current_image = $sel.data('image-id');
      $('#image-gallery-title').text($sel.data('title'));
      $('#image-gallery-image').attr('src', $sel.data('image'));
      disableButtons(counter, $sel.data('image-id'));
    }

    if (setIDs == true) {
      $('[data-image-id]').each(function() {
        counter++;
        $(this).attr('data-image-id', counter);
      });
    }
    $(setClickAttr).on('click', function() {
      updateGallery($(this));
    });
  }
});

// build key actions
$(document).keydown(function(e) {
  switch (e.which) {
    case 37: // left
      if (
        (modalId.data('bs.modal') || {})._isShown &&
        $('#show-previous-image').is(':visible')
      ) {
        $('#show-previous-image').click();
      }
      break;

    case 39: // right
      if (
        (modalId.data('bs.modal') || {})._isShown &&
        $('#show-next-image').is(':visible')
      ) {
        $('#show-next-image').click();
      }
      break;

    default:
      return; // exit this handler for other keys
  }
  e.preventDefault(); // prevent the default action (scroll / move caret)
});



</script>



{% endblock %}