<!-- website.nunjucks -->
{% set title='Welcome to Construct Pro' %}
{% set topNav = 'home' %}
{% extends "site_base.njk" %}


{% block stylesheet %}


{% endblock %}




{% block content %}


<div class="banner">

    <div class="container h-100 d-flex align-items-center" style="z-index: 1;">
        <div class="row">
            <div class="col-12 col-md-6 d-none">
                <div class="banner-img d-none d-md-block">
                    <img src="../app/dist/images/phone.png" class="" alt="..." data-aos="fade-right"
                        data-aos-once="true" data-aos-duration="2000">
                </div>

                <div class="d-block logo-bg d-md-none">
                    <img src="../app/dist/images/logo.png" class="w-100" alt="...">
                </div>

            </div>
            <div class="col-12 col-md-12 ">
                <div class="box-custom text-center">

                    <div class="box-custom-2-inner" data-aos="fade-left" data-aos-once="true" data-aos-duration="1500">
                        <h2>We Build the Future</h2>
                        <p> Comprehensive Contemporary Construction Solutions & Facility Services.</p>


                        <a href="about.html" class="d-inline-block mt-3">Learn More</a>


                    </div>



                </div>
            </div>
        </div>
    </div>


    <div class="container d-none" style="z-index: 1;">
        <div class="row">
            <div class="col">
                <div class="base-text ">

                </div>


            </div>



        </div>
    </div>
</div>
<div class="about-container" id="about">
    <div class="container">


        <div class="row ">
            <div class="col-md-6 col-lg-5 col-xl-4 offset-0 offset-md-1" data-aos="fade-right" data-aos-once="true"
                data-aos-duration="1000">
                <span class=" mini-title">About Company</span>

                <h3>WE CREATE
                    AND TURN INTO REALITY</h3>


            </div>
            <div class="col-md-4 col-lg-5 col-xl-6">
                <p>Construct Pro innovations is a start-up company providing services in the areas of Road construction,
                    Gutters and Drains, Contemporary Housing solutions, Modular buildings, Land clearence, General Civil
                    works, Projects Consultancy, Architectural Services, Surveying, Road Marking & Signage. We research,
                    analyze and determine the best cost effective and regulations designed to suit your needs.</p>

                <p>Our Contractors and Subcontractors are the finest in the business. We have developed and maintained great relationships with our Contracting teams, which brings you, our client, the best possible service. Our commitment is to provide top quality design and building services to our community. We accomplish this by listening to our clients needs and concerns and addressing them in a timely and effective fashion.</p>
            </div>
        </div>

        <div class="row pt-0 pt-md-5 mt-md-5 mt-3 no-gutters">
            <div class="col">
                <div class="" data-aos="fade-up" data-aos-once="true">
                    <div>
                        <img src="../app/dist/images/52.png" class="w-100" alt="..." height="">
                    </div>


                </div>

            </div>

        </div>


    </div>



</div>



<div class="scope">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-6">
                <div class="mb-4 mb-md-0">
                    <img src="../app/dist/images/2.jpg" class="w-100" alt="..." height="">
                </div>
            </div>
            <div class="col-12 col-md-9 col-lg-6">
                <span class=" mini-title">Scope of work</span>
                <h3>Construction</h3>
                <p> CONSTRUCTPRO INNOVATIONS LIMITED offers a wide range of civil and structural engineering construction ranging from steel structures erections, reinforced concrete structures and road constructions in gravel, paving blocks, concrete, bitumen roads and associated drainage structures.</p>


            </div>
        </div>
        <div class="row mt-5 pt-5">
            <div class="col-12 col-md-9 col-lg-6 order-2 order-md-2 order-lg-1">
                <h3>Architectural services</h3>
                <p>Design Creation for new construction projects, alterations and redevelopment. We use our Specialists in construction knowledge and high-level drawing skills to design buildings that are functional, safe, sustainable and aesthetically enticing.</p>


            </div>
            <div class="col-12 col-md-3 col-lg-6 order-1 order-md-1 order-lg-2">
                <div class="mb-4 mb-md-0">
                    <img src="../app/dist/images/7.png" class="w-100" alt="..." height="">
                </div>
            </div>

        </div>

    </div>

</div>





















{% endblock %}

{% block scripts %}


<script type="text/javascript">


</script>



{% endblock %}